@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Gilroy;
  src: url(./assets/fonts/Gilroy-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Gilroy;
  src: url(./assets/fonts/Gilroy-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Gilroy;
  src: url(./assets/fonts/Gilroy-SemiBold.ttf);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Gilroy;
  src: url(./assets/fonts/Gilroy-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: LT Superior;
  src: url(./assets/fonts/LTSuperior-Medium.otf);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: LT Superior;
  src: url(./assets/fonts/LTSuperior-Bold.otf);
  font-weight: 700;
  font-style: normal;
}

@layer base {
  * {
    @apply scroll-smooth;
  }

  html {
    @apply min-w-[390px];
  }

  h2 {
    @apply font-Gilroy font-medium xl:text-[48px] md:text-[40px] text-[32px] leading-none;
  }

  h3 {
    @apply font-Gilroy font-medium xl:text-[30px] md:text-[25px] text-[20px] leading-[1.1];
  }
}

@layer components {
  .section_container {
    @apply max-w-[1440px] mx-auto min-w-[390px] px-5 leading-none;
  }

  .thumb-custom::-webkit-slider-thumb {
    @apply relative cursor-pointer rounded-full p-3 appearance-none w-4 h-4 bg-dark border-solid border-[12px];
  }
}
